body {
  margin: 0px;
}
.timer {
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  margin: 0 auto;
  font-size: 40px;
}
.label {
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 15px;
}
.input {
  width: 200px;
}
button {
  width: 50px;
}

.formlabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.fieldsetmsinput {
  max-width: 200px;
}
fieldset {
  max-width: 180px;
  margin-bottom: 15px;
  padding: 5 10 5 10;
}
.fieldsetbutton {
  width: 210px;
}
